// Breakpoints
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1440px;
$layout-breakpoint-tablet: 1024px;
$layout-breakpoint-mobile: 600px;
$layout-breakpoint-small-mobile: 375px;

// Colors
$background: #dedede;
$black: #333;
